body {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", serif !important;
}

p,
span,
a,
li {
  font-family: "Raleway", sans-serif !important;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212529;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ce2626;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #940303;
}

@media (max-width: 412px) {
  #header {
    background-size: cover !important;
    background-position: left !important;
  }

  #header h1 {
    font-size: 40px !important;
  }

  #header h4 {
    font-size: 16px !important;
  }

  #portfolio h2 {
    font-size: 25px !important;
  }
}

/* H E A D E R */
#header {
  min-height: 100vh;
  background-image: url(https://cdn.pixabay.com/photo/2013/04/04/12/34/mountains-100367_960_720.jpg);
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.menu-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(240, 235, 235, 0.09);
  z-index: 1;
}

.menu {
  position: fixed;
  top: 20px;
  left: 10px;
  z-index: 1;
}

.nav-content {
  position: relative;
  display: none;
  padding: 0;
  background: rgba(187, 5, 5, 0.8);
  border-radius: 20px;
}

.nav-content > li {
  list-style: none;
  padding: 5px 20px;
}

.nav-content > li > a {
  display: block;
  text-decoration: none;
  line-height: 32px;
  color: #f5f5f5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 1px;
  font-size: 16px;
  padding: 0 !important;
  border-radius: 20px;
}

.nav-content > li > a:hover,
.active {
  color: #000000 !important;
}

.toggler {
  padding: 10px 15px;
  background: rgba(238, 9, 9, 0.8);
  display: block;
  cursor: pointer;
  width: min-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: -ms-min-content;
  width: -o-min-content;
  border-radius: 20px;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: #f5f5f5;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.nav-content #dropdown-menu {
  display: none;
  background: rgba(187, 5, 5, 0.8);
  position: absolute;
  top: 0;
  left: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 0;
  border-radius: 20px;
}

.nav-content #dropdown-menu ul {
  list-style-type: none;
  padding: 0;
}

.nav-content #dropdown-menu ul li a {
  color: #f5f5f5;
}

#dropdown {
  position: relative;
}

#header .dropdown-item:hover,
#header .dropdown-item.active {
  color: #000808;
  background: transparent !important;
}

#header > .row {
  min-height: 100vh;
  width: 100vw;
}

#header h1 {
  font-size: 100px;
  color: #f5f5f5;
}

#header h4 {
  font-size: 20px;
  font-weight: normal;
  color: #f5f5f5;
}

/* Mausanimation */

.middle {
  position: absolute;
  top: 87vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mouse {
  width: 50px;
  height: 90px;
  border: 3px solid #e0d6d6;
  border-radius: 60px;
}

.mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 25px;
  background-color: rgb(247, 238, 238);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 15px;
  }
  to {
    opacity: 0;
    top: 75px;
  }
}

/* A B O U T */

#about {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #2b2b2b;
}
/* Link Mönchengladbach*/
a:link,
a:visited {
  color: #ce2626;
}

#about h2 {
  margin-bottom: 30px;
  color: #f5f5f5;
}

#about p {
  color: #999;
}

#about img {
  width: 200px;
}

@media (max-width: 992px) {
  .picture {
    margin-left: 18vh;
    margin-bottom: 10vh;
    padding-right: 0;
  }
  .überschrift {
    margin-bottom: 100vh;
  }
}

/* C V */

#cv {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f7f7f7;
}

#cv hr {
  height: 1px;
  border: none;
  background: #ce2626;
  margin: 50px auto;
}

#cv .row h3 {
  border-bottom: 3px solid #ce2626;
  font-size: 24px;
  padding-bottom: 5px;
  width: min-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: -ms-min-content;
  width: -o-min-content;
  margin-bottom: 50px;
}

#cv .row {
  margin-bottom: 80px;
}

.skills + .skills {
  margin-top: 60px;
}

.skills > h4 {
  color: #ce2626;
  margin-bottom: 40px;
}

#cv .skill-item + .skill-item {
  margin-top: 30px;
}

#cv .skill-item > h4 {
  font-size: 16px;
  color: #222;
}

#cv .skill-item > .progress {
  height: 40px;
  background: #ddd;
}

#cv .skill-item .progress-bar-html {
  background: RGB(255, 109, 0);
}
#cv .skill-item .progress-bar-css {
  background: RGB(3, 155, 229);
}
#cv .skill-item .progress-bar-js {
  background: RGB(255, 222, 37);
}
#cv .skill-item .progress-bar-python {
  background: RGB(255, 202, 29);
}
#cv .skill-item .progress-bar-angular {
  background: RGB(183, 28, 28);
}

#cv .skill-item .progress-bar-german {
  background-image: url("Bilder/Flag_of_Germany.png");
  background-size: contain;
}
#cv .skill-item .progress-bar-english {
  background-image: url("Bilder/Flag_of_GB.png");
  background-size: contain;
}

#cv .skill-item .rightmove {
  float: right;
}

.exp + .exp {
  margin-top: 60px;
}

.exp > h4 {
  color: #ce2626;
  margin-bottom: 40px;
}

#cv .box + .box {
  margin-top: 50px;
}

#cv .box h4 {
  font-size: 20px;
  color: #222;
}

#cv .box h6 {
  color: #ce2626;
}

#cv .box p {
  color: #888;
}

#cv .logo {
  max-width: 4cm;
  max-height: 3cm;
  float: right;
  cursor: pointer;
}

/* G A L L E R Y */
#gallery {
  background-color: #2b2b2b;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center !important;
}
.gallery h3 {
  font-size: 24px;
  font-family: "Lato";
  color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

.container-port {
  margin: 4% auto;
  width: 210px;
  height: 140px;
  position: relative;
  perspective: 1000px;
}
#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotation 20s infinite linear;
}
#carousel:hover {
  animation-play-state: paused;
}
#carousel figure {
  display: block;
  position: absolute;
  width: 186px;
  height: 116px;
  left: 10px;
  top: 10px;
  overflow: hidden;
}
#carousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(288px);
}
#carousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(288px);
}
#carousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(288px);
}
#carousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(288px);
}
#carousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(288px);
}
#carousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(288px);
}
#carousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(288px);
}
#carousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(288px);
}
#carousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(288px);
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

#carousel img {
  max-width: 184px;
  max-height: 114px;
}

#carousel img:hover {
  border-color: #0f0f0f;
  border-radius: 2px;
}

/*  F O O T E R  */

footer {
  background: #140d0d;
  position: relative;
  padding: 80px;
}

.footer-content {
  text-align: center;
  max-width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-content p {
  color: #565656;
}

.footer-content a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: #565656;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-content a:hover {
  color: #ce2626;
}

.footer-content a + a {
  margin-left: 30px;
}

footer h4 {
  color: #ddd;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
}

@media (max-width: 768px) {
  footer {
    padding: 80px 0;
  }

  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-content > div {
    width: 100% !important;
    margin-bottom: 45px;
  }

  .footer-content h4 {
    margin-bottom: 20px;
  }

  .footer-content a + a {
    margin-left: 18px;
  }
}
